.cont {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #80bc8e;
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

.switch {
  color: rgb(107, 21, 21);
  text-decoration: none;
  background-color: rgb(149, 160, 216);
  border-radius: 3px;
  margin-top: 5px;
  /* height: 40px; */
}

button {
  margin: 5px;
  border-radius: 5px;
  background: #7439db;
}
